<div class="inner-bg">

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 form-box">

      <div class="form-bottom">
        <%= form_for :admin, url: sessions_path do |f| %>
            <div class="form-group">
              <%= f.text_field :name, :class => 'form-username', :id => 'form-username', :placeholder => 'Username' %>
            </div>
            <div class="form-group">
              <%= f.text_field :password, :type => 'password', :class => 'form-password', :id => 'form-password', :placeholder => 'Password' %>
            </div>
            <div class="form-group">
              <%= f.button "Login", :class => 'btn' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>

</div>

</div>