<div class="col-xs-4 col-md-3 opt">
  <div candidate-id="<%= candidate.id %>">
    <div class="topright">
      Sum:<%= candidate.votesum %>
      <%= link_to image_tag("delete.jpg", :width => 15), [@image, candidate], method: :delete, data: {confirm: 'Are you sure?'} %>
    </div>
    <%= candidate.content %>
  </div>
</div>
