<h1>Listing Results</h1>

<table class="table table-striped">
  <thead class="font-mid">
    <tr>
      <th>Character</th>
      <th>Result</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |img| %>
      <tr>
        <td><%= image_tag(img.url, :border => 0) %></td>
        <td class="font-big"><%= img.result %></td>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @results %>
<div class="font-mid"><%= link_to 'Back', images_path %> </div>
